.custom-tooltip {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px;
    background-color: #00000099;
    color: white;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 4px 6px 12px #00000020;
    font-weight: 300;
    z-index: 999;
}

